<!DOCTYPE html>
<html lang="en">

<head>
    <title>IgniteSol | RSS Reader</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .head {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .rssurlcard {
            padding: 0px 0px 20px 0px;
        }

        .card {
            margin: 10px;
            background-color: white !important;
            padding: 20px 0px 20px 0px;
        }

        .blog-image {
            width: 80px;
            height: 80px;
            background-image:url('default.png');
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row head">
            <h1>Nikita's RSS Reader</h1>
            <p>Where readers become leaders</p>
            <p>Keep up with all the topics that matter to you. All in one place.</p>
        </div>
        <div class="row rssurlcard">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <form method="post" action="/">
                    <div class="form-group">
                        <label for="url">RSS URL (Make sure URL has prefix - http://)</label>
                        <input type="url" name="url" class="form-control" id="url" value="" aria-describedby="rssUrlHelp"
                            placeholder="http://">
                        <small id="rssUrlHelp" class="form-text text-muted"></small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="background-color:lavender; padding:30px 20px 30px 20px;">
              {{#if items}}
                {{#each items}}
                <div class="row card">
                    <div class="col-md-2" style="padding: 10px; text-align:center">
                        <img class="blog-image"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQYza6elFY1zXBUfPiKQWVZQv0XJPZG3xGpEM4ige_1tEh6GllO"
                            alt="BLOG">

                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <div class="card-title"><a target="_blank" href="{{link}}">{{title}}</a>
                            </div>
                            <p class="card-text">{{{content}}}</p>
                            <small class="post_meta"><span>Published On - {{pubDate}} </span><span>
                                    <a target="_blank" href="{{link}}">Read
                                        More...</a></span></small>
                        </div>
                    </div>
                </div>
                {{/each}}
              {{else}}
                <span>No Data Found.</span>
              {{/if}}
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</body>

</html>
